.app {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.buyMeACoffee {
  display: flex;

  position: absolute;
  top: 10px;
  right: 10px;
}


@media (max-width:480px)  {
  .buyMeACoffee {
    width: 100%;
    position: static;
    margin-bottom: 20px;
    justify-content: center
  }
}
