.wrapper {
  display: flex;
  flex-direction: column;

  text-align: center;
  padding: 10px;

  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.title {
  margin-bottom: 5px;
  font-weight: bold;
}

.text {
  margin: 0;
}

@media (max-width:480px)  {
  .wrapper {
    flex-direction: row;
  }

  .title {
    margin-bottom: 0;
    margin-right: 5px;
  }
}